:root
{
    // background-color
    --theme-marketing-angle-button-bg-white : #FFF;

    --theme-header-bg-white : #FFF;

    --theme-card-bg-orange : #ff6918;
    --theme-card-bg-lightgreen : #183D3D;
    --theme-card-bg-darkgrey : #292d33;
    --theme-card-bg-lightgrey : #555c66;
    --theme-card-bg-white : #ffffff;
    --theme-card-bg-alice-blue : #f0f8ff ;
    --theme-card-bg-purpul : #5F0F40;
    --theme-card-bg-lightblue : #2B3499;
    --theme-card-bg-black : #1F1717;

    --theme-herobanner-layer-bg : #000;

    --theme-footer-bg-black : #333333;

    --theme-submit-button-bg-linear : linear-gradient(to right, #ff6918, #f43702);
    --theme-read-button-bg-linear : linear-gradient(to right, #ff6918, #f43702);
    --theme-start-button-bg-linear : linear-gradient(to right, #ff6918, #f43702);
    --theme-submit-button-hover-bg-linear : linear-gradient(to right, #525252 ,#fff);

    --theme-bg-lightwhite : #f2f2f2;
    --theme-bg-orange : rgb(255, 105, 24);
    --theme-bg-white : #ffffff; 
    --theme-bg-blue-shadow-white : #f5f7fa;


    // color
    --theme-header-menu-icon-color-black : #222;

    --theme-heading-color-orange : #ff6918;
    --theme-heading-color-black : #222;

    --theme-header-navigation-linkedIn-color : #3873b4;
    --theme-header-navigation-feshbook : #2d64f3;
    --theme-header-navigation-twitter-color : #4d9fec;
    --theme-header-navigation-instagram-color : #ea336d;
    --theme-header-navigation-github-color : #ff6918;


    --theme-herobanner-color-grey : #535353;

    --theme-marketing-angle-button-color-transparent : transparent;

    --theme-button-color-orange :#ff6918; 
    --theme-button-color-lightred :#f43702;
    --theme-button-color-darkgrey :#292d33;
    --theme-button-color-lightgrey :#555c66;
    
    
    --theme-card-color-white : #FFF;
    --theme-card-color-orange : #ff6918;
    --theme-card-color-lightred : #f43702;
    --theme-card-color-lightgreen : #183D3D;

    --theme-color-grey : #555c66;
    --theme-color-black : #111111;

    --theme-get-touch-grey : #808080;

    --theme-button-color-white : #FFF;

    --theme-placeholder-color-lightgrey : #7b7b7b;

    --theme-text-color-white : #ffffff;

    --theme-link-color-lightblue : #ADCCE9;
    --theme-link-color-orange :#ff6918; 



    // border
    --theme-border1-black : 1px solid #000;
    --theme-border1-lightgrey : 1px solid #b3b3b3;
    --theme-border1-orange : 1px solid #ff6918; 



    // outline
    --theme-service-card-outline1-grey : 1px solid #d9d9d9;

}